
body {
  font-family: 'Outfit', sans-serif;
}

.primary-gradient{
  background: linear-gradient(98deg, #FA255E -11.59%, #7A2171 128.39%) !important;
}
.login-shadow {
  box-shadow: 0px 0px 35px 0px rgba(198, 198, 198, 0.25);

}
.loading-container {
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.nav-link {
 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  transition: all 0.3s ease;
  border-radius: 50%;
  position: relative;

  
}
/* .nav-link.nav-link-selected {
  justify-content: flex-end;
} */


.nav-link::after{
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  background: #E8ECEE;
  z-index: -1;
  border-radius:50%;
  transition: all 0.5s ease;
}
.nav-link.nav-link-selected::after {
  content: "";
  background: linear-gradient(98deg, #FA255E -11.59%, #7A2171 128.39%) !important;
  width: 10vw;
  height: 50px;
  position: absolute;
  transition: all 0.5s ease;
  transform: translateX(0vw);
  border-radius: 0%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  
}

.m-nav-shadow {
  box-shadow: 0px -6px 17px 0px rgba(0, 0, 0, 0.25);
}

.snackbar {
/*   visibility: hidden; */
  min-width: 250px;
  max-width: 90%;
/*   margin-left: -125px; */
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 8px;
  position: fixed;
  z-index: 4000;
  left: 40%;
  bottom: 30px;
  font-size: 1.1rem;
  opacity: 0;
  border:2px solid transparent;
  transform: translateY(10vh) ;
  transition: all 0.2s linear;
  pointer-events: none;

}

.snackbar.fadeIn {
/*   visibility: visible; */
  opacity: 1;
  transform: translateY(0);
  /* transition: visibility 0s linear 0s, opacity 300ms; */

}

.snackbar.fadeOut {
 /*  visibility: hidden; */
 background: none;
/*   opacity: 0;
  transform: translateY(100%); */
/*   transition: visibility 0s linear 300ms, opacity 300ms */
}

.snackbar.success {
  background: #DCFCE7;
  color: #16A34A;
  border-color: #16A34A;
}
.snackbar.error {
  background: #FFE4E6;
  color: #E11D48;
  border-color: #E11D48;

}
.snackbar.warning {
  background: #FEF9C3;
  color: #CA8A04;
  border-color: #CA8A04;
}
/* ::-webkit-scrollbar {
  width: 20px;
}::-webkit-scrollbar-track {
  background-color: inherit;
}::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
} */
.snackbar.neutral {
  background: #E0F2FE;
  color: #0284C7;
  border-color: #0284C7;
}
.stepper-gradient {
  background: linear-gradient(180deg, #EF2560 0%, #9C226D 100%);

}
.stepper-bg {
  background: #E4E4E4;

}
.checkmark
{
    transform: rotate(45deg);
    height: 15px;
    width: 10px;
    
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}

.marker-shadow{
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));



}
@media (max-width:768px) {
  .snackbar {
    bottom: 80px;
  /*   transform: translateX(-50%); */
/*   margin-left: -150px; */
left: 5%;
  }
}